<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Departments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><h1>Departments</h1></th>
        </tr>
    </thead>
    <tr th:each="department : ${allDepartments}">
        <td>
            [[${department.depart}]]
        </td>
    </tr>
</table>
    <a th:href="@{/}"> <button class="btn btn-light">Back to home page</button></a>
</div>
</body>
</html>
